input {
    border: none;
    height: 2em;
    border-bottom: 1px solid black;
}
header{
    padding: 3em;
}
label {
    width: 11.5%;
    display: block;
    font-size: 1em;
    font-weight: bolder;
    border-bottom: 1px solid black;
    margin-bottom: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}